<% @title = "Dashboard // Search" %>

	<div id="header-name">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>Search</h1>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h3>Find</h3>
				<%= render 'dashboard/search/form', the_type: 'choice' %>
			</div>
		</div>
	</div>