<li class="large">
	<a href="#"><strong><%= link_to asset.name, [:dashboard, asset] -%></strong></a>
	<div class="btn-bar">
		<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i> Edit'), edit_dashboard_asset_path(asset), :class => 'btn' %>
		<%= link_to raw('<i class="fa fa-trash" aria-hidden="true"></i> Delete'), dashboard_asset_path(asset), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
	</div>
</li>
