<h4>Help</h4>
<p class="small">
	<strong>Name</strong><br/>
	This is the name that will show up to users and also on all printables. This is a general group for drinks to be placed in.
</p>
<p class="small">
	<strong>Description</strong><br/>
	A quick description should be provided to help the user figure out what type of drinks they will find in this group.
</p>
<p class="small">
	<strong>Order By</strong><br/>
	This is the order that groups will be displayed to the user on the site and on all printables. Smaller numbers will place them higher on the list. <i>Note: </i> If two or more items have the same order number they will first be sorted by first letter.
</p>
<p class="small">
	<strong>Name</strong><br/>
	Place a check in the box if you would like the group to be displayed to the user and on printables. Uncheck this box to hide.
</p>
