<% @title = "Dashboard // New Drink Group" %>

<div id="header-name">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h5><%= link_to 'Back to Drink Dashboard', dashboard_admin_drinks_path %></h5>
				<h1>New Drink Groups</h1>
			</div>
		</div>
	</div>
</div>


	<div class="container">
		<div class="row">
			<div class="col-8">
				
<%= render 'form' %>

			</div>
			
			<div class="col-4">
<%= render 'help' %>
			</div>
		</div>
	</div>