<h4>Help</h4>
<p class="small">
	<strong>Name</strong><br/>
	This is the name that will show up to users and also on all printables. This is a general group for drinks to be placed in.
</p>
<p class="small">
	<strong>Image</strong><br/>
	The image filename without any extension.
</p>
<p class="small">
	<strong>Is Draft</strong><br/>
	Place a check in this box if the drink size is supplied by the draft system.
</p>
<p class="small">
	<strong>Use Tap List</strong><br/>
	Place a check in this box if the drink size is the one you would like to use for the draft menus.
</p>
